@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');
/* font-family: "Kanit", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');
/* font-family: "Audiowide", sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
main {
  height: 1000vh;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 37%;
}

.re-home {
  position: fixed;
  background-color: #6161615f;
  padding: 10px 15px;
  border-radius: 999px;
  font-size: 1.5rem;
  right: 60px;
  bottom: 60px;
  list-style: none;
  text-decoration: none;
}
.re-home a{
  color: #fff;
  font-size: 1.5rem;
}

header {
  width: 80%;
  height: 90px;
  background-color: #6b6b6b34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 999px;
  margin: 0 auto;
  margin-top: 2vh;
}
.logo {
  width: 120px;
  margin-top: 8px;
}
nav .logo {
  display: none;
}
nav ul {
  display: flex;
}
nav ul li i {
  display: none;
}
nav ul li a{
  color: #ffffff;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.5s;
  border-radius: 30px;
  text-transform: uppercase;
}
nav ul li a:hover {
  background: #7d828372;
}
nav ul li a.active {
  background: #ffffff;
  color: #222222;
}
.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.5s;
}
.hamburger:hover {
  background: #7c7c7c6d;
}
.hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #ffffff;
}
.background {
  margin-top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  animation: rotate 12s cubic-bezier(0.8, 0.5, 0.5, 0.8) alternate infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle {
  z-index: -1;
}
.circle1 {
  content: '';
  background-color: aqua;
  width: 300px;
  height: 300px;
  border-radius: 56% 44% 70% 30% / 30% 30% 70% 70% ;
  filter: blur(180px);
  margin-right: -20vh;
}
.circle2 {
  content: '';
  background-color: rgba(0, 255, 17, 0.749);
  width: 300px;
  height: 300px;
  border-radius: 62% 38% 48% 52% / 30% 87% 13% 70%  ;
  filter: blur(150px);
  margin-top: -20vh;
}
.circle3 {
  content: '';
  background-color: rgb(129, 255, 253);
  width: 400px;
  height: 300px;
  border-radius: 49% 51% 48% 52% / 66% 87% 13% 34%  ;
  filter: blur(160px);
  margin-left: -20vh;
}
.text_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  margin-top: -40vh;
  font-family: "Audiowide", sans-serif;
}
h1, h2, p, a button {
  text-transform: uppercase;
  color: #fff;
}
.text_head h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 200px;
  text-shadow: 10px 7px 5px #0000004f;
}
.text_head h2 {
  font-family: "Audiowide", sans-serif;
  font-size: 100px;
  -webkit-text-stroke: 1px #fff;
  text-shadow: 10px 7px 5px #4e4e4e4f;
  color: transparent;
  margin-top: -2vh;
  font-weight: 100;
}
.text_head p {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  width: 30%;
  text-shadow: 5px 5px 5px #00000058;
  text-align: center;
}
.button-23 {
  background-color: #91e4f800;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
  text-shadow: 5px 5px 5px #00000058;
  margin: 4vh 0;
  outline: none;
  padding: 40px 43px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #f7f7f70e;
  border-color: #9e9e9e;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.content-head hr {
  margin: 0 12vh;
  margin-top: 20vh;
}

/* ------------------------ABOUT---------------------------- */
.container-about {
  padding: 0 12vh;
  color: #eaeaea;
  background: rgba(18, 22, 30, 0);
  margin: 0;
}
.content-about {
  margin-top: -5vh;
  margin-left: 15vh;
}

.content-about h2 {
  font-family: "Audiowide", sans-serif;
  font-size: 5rem;
  font-weight: 700;
}
.content-about h2 span {
  font-weight: 500;
  color: #36ffc9;
  font-family: 'Kanit';
}
.content-about p {
  font-size: 16px;
  width: 100%;
  line-height: 30px;
  margin-top: 3vh;
}
.content-about p span {
  font-size: 2rem;
  font-weight: 600;
  color: #a3dddd;
  font-family: "Audiowide", sans-serif;
}
.st {
  font-size: 10rem;
  margin-top: 15vh;
  color: transparent;
  margin-left: 15vh;
  width: 90%;
  line-height: 11vh;
  -webkit-text-stroke: 1px #ffffff25;
}
.content-about .img-show  {
  max-width: 250px;
  float: right;
  margin-top: 10vh;
  margin-right: 20vh;
  filter: drop-shadow(40px 30px 60px #37ffa898);
}
.img-hidden {
  display: none;
  filter: drop-shadow(40px 30px 60px #37ffa898);
}
.bg-circle {
  content: '';
  background-color: rgba(7, 255, 197, 0.749);
  width: 300px;
  height: 300px;
  border-radius: 62% 38% 48% 52% / 30% 87% 13% 70%  ;
  filter: blur(150px);
  margin-top: -20vh;
  position: absolute;
  right: 55vh;
  margin: 0;
  z-index: -1;
}
.content-about .button-23 {
  padding: 10px 40px;
  font-size: 14px;
  margin: 0;
  margin-top: 1vh;
}